<div class="container" >
  
  <div class="row">
    
    <div class="col-xs-3" id="myScrollSpy">
      <ul class="nav nav-tabs nav-stacked" data-spy="affix">
        
        <%
          for(var i = 0; i < h3Content.length; i++) {
            var h3c = h3Content[i];
            if(i == 0) {
        %>
              <li><a class="active" href="#<%= h3c.id%>"><%= h3c.tt%></a>
        <%
            } else {
        %>
              <li><a href="#<%= h3c.id%>"><%= h3c.tt%></a>
        <%
            }
          }
        %>

      </ul>
    </div>

    <div class="col-xs-9">
      
      <%- detail %>

    </div>

  </div>

</div>