<div class="container">
  
  <div class="row">
    <div class="col-sm-8">
      <%
        if(typeof doc != "undefined") {
      %>
          <h2><%= doc["title"]%></h2>
          <div>
                <span><%= doc["publishTime"].toLocaleDateString()%></span>
            <%
              for(var k = 0; k < doc["labels"].length; k++) {
                var label = doc["labels"][k];
            %>
                <a href="/label/<%= label%>" class="label label-success"><%= label%></a>
            <%
              }
            %>
          </div>

          <div id="mdHtml"></div>
      <%  
        } else {
      %>
          <div class="alert alert-danger" role="alert">哈哈，文章不见了！！！</div>
      <%
        }
      %>
    </div>
    <div class="col-sm-3 col-sm-offset-1" id="myScrollSpy">
      <ul class="nav nav-tabs nav-stacked" data-spy="affix" id="mdContent">
        
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript" src="/public/marked.js"></script>
<script type="text/javascript">
  
$(function() {
  $.ajax({
    url: "/api<%= doc['filePath']%>",
    type: "POST"
  }).done(function(data) {

    $("#mdHtml").html(marked(data));

    $("#mdContent").html("");
    var h3s = $("#mdHtml").find("h3");
    h3s.map(function(index, o) {
      if(index == 0) {
        $("#mdContent").append("<li class='active'><a href='#"+o.id+"'>"+$(o).text()+"</a></li>");
      } else {
        $("#mdContent").append("<li><a href='#"+o.id+"'>"+$(o).text()+"</a></li>");
      }
    })

  }).fail(function(err) {
    alert(err.responseText);
  })
})

</script>