<div class="container">
  
  <div class="row">

    <% if(typeof doc != "undefined") { %>
      
      <div class="col-sm-12 articleTitle">

          <h2><%= doc["title"]%></h2>
          <div>
                <span><%= doc["publishTime"].toLocaleDateString()%></span>
            <%
              for(var k = 0; k < doc["labels"].length; k++) {
                var label = doc["labels"][k];
            %>
                <a href="/label/<%= label%>" class="label label-success"><%= label%></a>
            <%
              }
            %>
          </div>
      </div>

      <div class="col-sm-8">
        <div id="mdHtml" class="mdContentArea"></div>        
      </div>

      <div class="col-sm-3 col-sm-offset-1" id="myScrollSpy">
        <ul class="nav nav-tabs nav-stacked" data-spy="affix" id="mdContent">
          
        </ul>
      </div>

    <% } else { %>

        <div class="alert alert-danger" role="alert">哈哈，文章不见了！！！</div>

    <% } %>

  </div>
</div>

<% if(typeof doc != "undefined") { %>
  <script type="text/javascript" src="/public/marked.js"></script>
  <script type="text/javascript" src="/public/mdtable.js"></script>
  <script type="text/javascript">
    
  $(function() {
    $.ajax({
      url: "/api<%= doc['filePath']%>",
      type: "POST"
    }).done(function(data) {

      $("#mdHtml").html(marked(data));
      mdTable("mdContent", $("#mdHtml").find("h1,h2,h3,h4,h5,h6"));

    }).fail(function(err) {
      console.error(err);
      // alert(err.responseText);
      // 这里直接显示没有文件内容
      $("#mdHtml").parent().html("<div class='alert alert-success' role='alert'>Oops，文件不见了！！！</div>");
    })
  })

  </script>
<% } %>
